<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Управление мат.ценностями</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Главная</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="showResponsibleManagementPage">
      <li class="nav-item">
        <a href="/responsiblemanagement" class="nav-link" routerLink="responsiblemanagement">Мат.ответственные</a>
      </li>
      <li class="nav-item">
        <a href="/itemmanagement" class="nav-link" routerLink="itemmanagement">Мат.ценности</a>
      </li>
    </ul>
    <!--<ul class="navbar-nav ml-auto" *ngIf="showTransportManagementPage">
      <li class="nav-item">
        <a href="/busmanagement" class="nav-link" routerLink="busmanagement">Автобусы</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
          <div class="text-light">
            {{ date | async | date:'HH:mm:ss dd.MM.yyyy' }}
          </div>
      </li>
    </ul>-->
    <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/signin" class="nav-link" routerLink="signin">Вход</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Аккаунт
        </a>
        <ul class="dropdown-menu" aria-labelledby="profileDropdownMenuLink">
          <li><a href="/profile" class="dropdown-item" routerLink="profile">{{ username }}</a></li>
          <li><a href class="dropdown-item" (click)="logout()">Выход</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>